<input type="hidden" id="csrf" name="csrf" value="">
<input type="hidden" id="correlationId" name="correlationId" value="dummyID" />
<input id="brandId" name="brandId" value="DummybrandId" type="hidden" />
<input type="hidden" id="actionUrl" name="actionUrl" value="https://localhost:8091/alpha-oauth/oauth/authorize?client_id=moneywise&amp;redirect_uri=http://localhost:8094/consent/authorize/bic123456/john&amp;response_type=code&amp;scope=balance%20transaction&amp;state=I6f0TV">
<input type="hidden" id="idToken" name="idToken" value="vntwKKvsq6nBd1YkYTVVqYpvekNqycUPypZkI2wJq5v2eGPD0TDVst8p5Zf5kJIJciladIpQLdsEjGdXGUxntjS9aOaUvBplol17muUFT7cYqe5CrmBIzQQXelw8XJ31cZw  VMBJN6rE 1VOoUtdLDB1RmiCV4RyYhBYJcQ9Ei98/pKRN29HkAANJJCr SiWRUMmkiNhlq2It/enThFPPiqWCbxgjel4DM9iuAvhqeCy LC69rMJwAu2uzk9p0b3hnb6Qy l7W27HDOAjN SULX9aI5CIJFLDIf 7VcBWkxKtfdi3eUASqMpD//bVkjjReZmUc3QYyoRScpRIv1quNr4ukDwU8dr84q5yyzaBoj1HaX/yaQrjsQxpaRWMUaOfm4PNhRZhKCopuh8nAlJ0DpKrbzg9ll63KVtZ333qrDGF7mkJyPwlCoau02uiz/hXwuopGx8cK0jDgdEYEymA==">
<input type="hidden" id="psuAccounts" name="psuAccounts" value="[{
		&quot;userId&quot;: &quot;1234&quot;,
		&quot;accountNumber&quot;: &quot;10203345&quot;,
		&quot;accountName&quot;: &quot;John Doe&quot;,
		&quot;accountType&quot;: &quot;checking&quot;,
		&quot;currency&quot;: &quot;eur&quot;,
		&quot;nickname&quot;: &quot;John&quot;,
		&quot;accountNSC&quot;: &quot; SC802001&quot;
	}, {
		&quot;userId&quot;: &quot;1235&quot;,
		&quot;accountNumber&quot;: &quot;10203346&quot;,
		&quot;accountName&quot;: &quot;John Doe&quot;,
		&quot;accountType&quot;: &quot;checking&quot;,
		&quot;currency&quot;: &quot;eur&quot;,
		&quot;nickname&quot;: &quot;mike&quot;,
		&quot;accountNSC&quot;: &quot; SC802001&quot;
	}, {
		&quot;userId&quot;: &quot;1236&quot;,
		&quot;accountNumber&quot;: &quot;10203347&quot;,
		&quot;accountName&quot;: &quot;John Doe&quot;,
		&quot;accountType&quot;: &quot;checking&quot;,
		&quot;currency&quot;: &quot;eur&quot;,
		&quot;nickname&quot;: &quot;jtma&quot;,
		&quot;accountNSC&quot;: &quot; SC802001&quot;
	}, {
		&quot;userId&quot;: &quot;1237&quot;,
		&quot;accountNumber&quot;: &quot;10203348&quot;,
		&quot;accountName&quot;: &quot;John Doe&quot;,
		&quot;accountType&quot;: &quot;checking&quot;,
		&quot;currency&quot;: &quot;eur&quot;,
		&quot;nickname&quot;: &quot;harry&quot;,
		&quot;accountNSC&quot;: &quot; SC802001&quot;
	}, {
		&quot;userId&quot;: &quot;1238&quot;,
		&quot;accountNumber&quot;: &quot;10203349&quot;,
		&quot;accountName&quot;: &quot;John Doe&quot;,
		&quot;accountType&quot;: &quot;checking&quot;,
		&quot;currency&quot;: &quot;eur&quot;,
		&quot;nickname&quot;: &quot;harry123&quot;,
		&quot;accountNSC&quot;: &quot; SC802001&quot;
	}, {
		&quot;userId&quot;: &quot;1239&quot;,
		&quot;accountNumber&quot;: &quot;10203350&quot;,
		&quot;accountName&quot;: &quot;John Doe&quot;,
		&quot;accountType&quot;: &quot;checking&quot;,
		&quot;currency&quot;: &quot;eur&quot;,
		&quot;nickname&quot;: &quot;marry&quot;,
		&quot;accountNSC&quot;: &quot; SC802001&quot;
	}, {
		&quot;userId&quot;: &quot;1241&quot;,
		&quot;accountNumber&quot;: &quot;10203351&quot;,
		&quot;accountName&quot;: &quot;John Doe&quot;,
		&quot;accountType&quot;: &quot;checking&quot;,
		&quot;currency&quot;: &quot;eur&quot;,
		&quot;nickname&quot;: &quot;marry1&quot;,
		&quot;accountNSC&quot;: &quot; SC802001&quot;
	}, {
		&quot;userId&quot;: &quot;1242&quot;,
		&quot;accountNumber&quot;: &quot;10203352&quot;,
		&quot;accountName&quot;: &quot;John Doe&quot;,
		&quot;accountType&quot;: &quot;Saving&quot;,
		&quot;currency&quot;: &quot;eur&quot;,
		&quot;nickname&quot;: &quot;Mac&quot;,
		&quot;accountNSC&quot;: &quot; SC802001&quot;
	}, {
		&quot;userId&quot;: &quot;1243&quot;,
		&quot;accountNumber&quot;: &quot;10203353&quot;,
		&quot;accountName&quot;: &quot;John Doe&quot;,
		&quot;accountType&quot;: &quot;Current&quot;,
		&quot;currency&quot;: &quot;eur&quot;,
		&quot;nickname&quot;: &quot;John&quot;,
		&quot;accountNSC&quot;: &quot; SC802001&quot;
	}, {
		&quot;userId&quot;: &quot;1244&quot;,
		&quot;accountNumber&quot;: &quot;10203354&quot;,
		&quot;accountName&quot;: &quot;John Doe&quot;,
		&quot;accountType&quot;: &quot;checking&quot;,
		&quot;currency&quot;: &quot;eur&quot;,
		&quot;nickname&quot;: &quot;John Doe&quot;,
		&quot;accountNSC&quot;: &quot; SC802001&quot;
	}, {
		&quot;userId&quot;: &quot;1245&quot;,
		&quot;accountNumber&quot;: &quot;10203355&quot;,
		&quot;accountName&quot;: &quot;John Doe&quot;,
		&quot;accountType&quot;: &quot;checking&quot;,
		&quot;currency&quot;: &quot;eur&quot;,
		&quot;nickname&quot;: &quot;Salary&quot;,
		&quot;accountNSC&quot;: &quot; SC802001&quot;
	}, {
		&quot;userId&quot;: &quot;1246&quot;,
		&quot;accountNumber&quot;: &quot;10203356&quot;,
		&quot;accountName&quot;: &quot;John Doe&quot;,
		&quot;accountType&quot;: &quot;checking&quot;,
		&quot;currency&quot;: &quot;doller&quot;,
		&quot;nickname&quot;: &quot;Salary&quot;,
		&quot;accountNSC&quot;: &quot; SC802001&quot;
	}]">
<input type="hidden" id="aspspName" name="aspspName" value="Alpha">
<input type="hidden" id="bankBIC" name="bankBIC" value="bic123456">
<input type="hidden" id="bankId" name="bankId" value="1">
<input type="hidden" id="psuId" name="psuId" value="36376600">
<input type="hidden" id="account-request" name="account-request" value="{
    &quot;Data&quot;: {
        &quot;AccountRequestId&quot;: &quot;03be465a-0555-4bb4-8fa2-d22e131986ce&quot;,
        &quot;Status&quot;: &quot;AwaitingAuthorisation&quot;,
        &quot;CreationDateTime&quot;: &quot;2017-07-07T16:48:07.159&quot;,
        &quot;Permissions&quot;: [&quot;ReadAccountsBasic&quot;, &quot;ReadAccountsDetail&quot;, &quot;ReadBalances&quot;, &quot;ReadBeneficiariesBasic&quot;, &quot;ReadBeneficiariesDetail&quot;, &quot;ReadDirectDebits&quot;, &quot;ReadStandingOrdersBasic&quot;, &quot;ReadStandingOrdersDetail&quot;, &quot;ReadTransactionsBasic&quot;, &quot;ReadTransactionsCredits&quot;, &quot;ReadTransactionsDebits&quot;, &quot;ReadTransactionsDetail&quot;],
        &quot;ExpirationDateTime&quot;: &quot;2017-05-02T00:00:00-00:00&quot;,
        &quot;TransactionFromDateTime&quot;: &quot;2017-05-03T00:00:00-00:00&quot;,
        &quot;TransactionToDateTime&quot;: &quot;2017-12-03T00:00:00-00:00&quot;
    },
    &quot;Risk&quot;: null
}" />

<input type="hidden" id="psuAccounts" name="psuAccounts" value="{ &quot;Data&quot;: [ { &quot;AccountId&quot;: &quot;e51f7007-23ff-4de4-b3b1-ef6c310e1e9e&quot;, &quot;Currency&quot;: &quot;GBP&quot;, &quot;Nickname&quot;: &quot;Bills&quot;, &quot;Account&quot;: { &quot;SchemeName&quot;: &quot;BBAN&quot;, &quot;Identification&quot;: &quot;76528775&quot;, &quot;Name&quot;: &quot;Mr Kevin&quot;, &quot;SecondaryIdentification&quot;: &quot;0011&quot; }, &quot;Servicer&quot;: { &quot;SchemeName&quot;: &quot;UKSortCode&quot;, &quot;Identification&quot;: &quot;SC802001&quot; } }, { &quot;AccountId&quot;: &quot;e51f7008-23ff-4de4-b3b1-ef6c310e1e9e&quot;, &quot;Currency&quot;: &quot;GBP&quot;, &quot;Nickname&quot;: &quot;Hills&quot;, &quot;Account&quot;: { &quot;SchemeName&quot;: &quot;BBAN&quot;, &quot;Identification&quot;: &quot;76528776&quot;, &quot;Name&quot;: &quot;Mr piter&quot;, &quot;SecondaryIdentification&quot;: &quot;0011&quot; }, &quot;Servicer&quot;: { &quot;SchemeName&quot;: &quot;UKSortCode&quot;, &quot;Identification&quot;: &quot;SC802001&quot; } } ], &quot;Links&quot;: { &quot;self&quot;: &quot;/accounts/&quot; }, &quot;Meta&quot;: { &quot;total-pages&quot;: 1 } }"
/>
<input id="user_oauth_approval" name="user_oauth_approval" value="true" type="hidden">
<input id="aispId" name="aispId" value="moneywise" type="hidden">
<input id="tppInfo" name="tppInfo" value="Moneywise" type="hidden" />
<input id="consentType" name="consentType" value="AISP" type="hidden" />
<input id="authUrl" name="authUrl" value="DummtURL" type="hidden" />
<input type="hidden" id="oAuthUrl" name="oAuthUrl" value="/oauthUrl/" />
<input type="hidden" id="pispJson" name="pispJson" value="{ &quot;tppInformation&quot;: { &quot;clientId&quot;: &quot;moneywise&quot;, &quot;registeredId&quot;: &quot;007&quot;, &quot;legalEntityName&quot;: &quot;Moneywise Pvt. Ltd.&quot;, &quot;displayName&quot;: &quot;Moneywise&quot;, &quot;certificate&quot;: &quot;certificate of moneywise&quot;, &quot;roles&quot;: [ &quot;AISP&quot;, &quot;CISP&quot;, &quot;PISP&quot; ] }, &quot;payee&quot;: { &quot;payeename&quot;: &quot;John&quot;, &quot;payeeaddress&quot;: &quot; Dummy Address&quot;, &quot;instructedamt&quot;: { &quot;amount&quot;: &quot;300&quot;, &quot;currency&quot;: &quot;$&quot; } }, &quot;scopeRefData&quot;: [{ &quot;scopeName&quot;: &quot;onetimepayment&quot;, &quot;refData&quot;: [{ &quot;refType&quot;: &quot;onetimepayment&quot;, &quot;accountType&quot;: &quot;Checking&quot; }] }] }"
/>
<input type="hidden" id="paymentSetup" name="paymentSetup" value="{ &quot;Data&quot;: { &quot;PaymentId&quot;: &quot;10319&quot;, &quot;Status&quot;: &quot;AcceptedTechnicalValidation&quot;, &quot;CreationDateTime&quot;: &quot;2017-08-08T15:11:53.859Z&quot;, &quot;Initiation&quot;: { &quot;InstructionIdentification&quot;: &quot;ABDDC&quot;, &quot;EndToEndIdentification&quot;: &quot;FRESCO.21302.GFX.28&quot;, &quot;InstructedAmount&quot;: { &quot;Amount&quot;: &quot;777777777.0&quot;, &quot;Currency&quot;: &quot;EUR&quot; }, &quot;DebtorAgent&quot;: { &quot;SchemeName&quot;: &quot;UKSortCode&quot;, &quot;Identification&quot;: &quot;SC112800&quot; }, &quot;DebtorAccount&quot;: { &quot;SchemeName&quot;: &quot;IBAN&quot;, &quot;Identification&quot;: &quot;GB29NWBK60161331926819&quot;, &quot;Name&quot;: &quot;Andrea Smith&quot;, &quot;SecondaryIdentification&quot;: &quot;0002&quot; }, &quot;CreditorAgent&quot;: { &quot;SchemeName&quot;: &quot;UKSortCode&quot;, &quot;Identification&quot;: &quot;SC080801&quot; }, &quot;CreditorAccount&quot;: { &quot;SchemeName&quot;: &quot;BBAN&quot;, &quot;Identification&quot;: &quot;NWBK60161331926819&quot;, &quot;Name&quot;: &quot;Test user&quot;, &quot;SecondaryIdentification&quot;: &quot;0002&quot; }, &quot;RemittanceInformation&quot;: { &quot;Unstructured&quot;: &quot;Internal ops code 5120101&quot;, &quot;Reference&quot;: &quot;FRESCO-101&quot; } } }, &quot;Risk&quot;: { &quot;MerchantCategoryCode&quot;: &quot;5967&quot;, &quot;MerchantCustomerIdentification&quot;: &quot;053598653254&quot;, &quot;DeliveryAddress&quot;: { &quot;AddressLine&quot;: [ &quot;Flat 7&quot;, &quot;Acacia Lodge&quot; ], &quot;StreetName&quot;: &quot;AcaciaAvenue&quot;, &quot;BuildingNumber&quot;: &quot;27&quot;, &quot;PostCode&quot;: &quot;GU31 2ZZ&quot;, &quot;TownName&quot;: &quot;Sparsholt&quot;, &quot;CountrySubDivision&quot;: [ &quot;ABCDABCDABCDABCDAB&quot;, &quot;DEFG&quot; ], &quot;Country&quot;: &quot;UK&quot; } }, &quot;Links&quot;: { &quot;self&quot;: &quot;https://LIN51005623.corp.capgemini.com:80/fundtransferv1/banks/payments/10319&quot; }, &quot;Meta&quot;: {} }">
<input type="hidden" id="accountSelected" name="accountSelected" value="false">